@media screen and (max-width: 620px) {
	.upper, #projectspc, #noshow, .container2, #prpc, #aboutpc {
		display: none;
	}
	.box {
		padding-top: 20px;
	}
	
	.container {
		padding-bottom: 30px;
	}
	
} 
